@keyframes circle-button-pulse{
  0% { 
    opacity: 1
  }
  41%, to { 
    transform: scale(1.001);
    opacity: 0
  }
}


@keyframes google-cloud-splash {
  from {
    background-position: 0;
  }

  to {
    background-position: -22000px;
  }
}

@keyframes google-cloud-splash-mobile {
  from {
    background-position: 0;
  }

  to {
    background-position: -13850px;
  }
}