// Stage Geomagical - Initial States
.stage--geomagical {
  .step--0 {
    .text-animation {
      transition-delay: 800ms;
    }

    .pulsar-btn {
      // Initial State
      transform: translateY(30px);
      opacity: 0;
      transition-duration: 650ms;
      transition-timing-function: cubic-bezier(.215,.61,.355,1); 
      transition-delay: 1000ms;
    }
  }
}


// Stage Geomagical In
.stage--geomagical.stage--in {
  // Global
  .headline-line-animation .line {
    transform: translateY(0);
    opacity: 1;
  }

  // Step 0
  .step--0.step--in {
    //background-color: rgba($white, .38);
    
    .text-animation,
    .pulsar-btn {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .step--0.step--out {
    .headline-line-animation .line {
      opacity: 0;
      transition: opacity 400ms ease-out;
      transition-delay: 0s;
    }    

    .text-animation {
      opacity: 0;
      transition: opacity 400ms ease-out;
      transition-delay: 200ms;
    }

    .pulsar-btn {
      opacity: 0;
      transition: opacity 400ms ease-out;
      transition-delay: 400ms;
    }
  }

  // Steps 1/2/3/4 In
  .step--1.step--in,
  .step--2.step--in,
  .step--3.step--in,
  .step--4.step--in {
    .card-animation {
      transform: translateX(0);
      opacity: 1;
  
      .card__step,
      .card__title,
      .card__content,
      .card__actions {
        opacity: 1;
        transform: translate(0);
      }
    }
  }  
  
  // Steps 1/2/3/4 Out
  .step--1.step--out,
  .step--2.step--out,
  .step--3.step--out,
  .step--4.step--out {
    .card-animation {
      transform: translateX(-30px);
      opacity: 0;

      // .card__step,
      // .card__title,
      // .card__content,
      // .card__actions {
      //   opacity: 0;
      // } 
    }
  }   
}  

// Stage Geomagical Out
.stage--geomagical.stage--out {
  opacity: 0;
  transition: 450ms ease-out;
}
