.card-wrap {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding-right: 40px;
  padding-left: 40px;

  @media (max-height: 730px) {

    &:not(.card-wrap--centered) {
      margin-top: 25px;
      justify-content: flex-start;
    }
  }
  
  @include media-breakpoint-up(lg) {
    padding-right: 8vw;
    padding-left: 8vw;
  }

  @include media-breakpoint-up(xl) {
    padding-right: 11.5vw;
    padding-left: 11.5vw;
  }  

  @media (min-width: 1024px) and (max-height: 650px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.card {
  width: 360px;
  user-select: none;

  &.card--simple {
    width: 300px;
  }    

  &__header {
    background-color: $white;
    padding: 22px 30px 18px;
    border-radius: 8px 8px 0 0;

    @media (min-width: 1024px) and (max-height: 650px) {
      padding: 20px 20px 16px;
    }    
  }

  &__title {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 500;

    @media (min-width: 1024px) and (max-height: 650px) {
      font-size: 1.375rem;
    }
  }

  &__step {
    display: flex;
    align-items: center;

    img {
      flex-shrink: 0;
      display: block;
      margin-right: 10px;
    }
    
    span {
      flex-shrink: 0;
      display: block;
      line-height: 1;
      // color: $grey500;
      // AA FIX
      color: $grey700;
      font-size: 0.75rem;
      font-weight: 500;
      text-transform: uppercase;
    }

    // Optical fix
    &--capture {
      img {
        position: relative;
        top: -4px;
      }
    }
  }

  &__body {
    border-top: 1px solid $black;
    background-color: rgba($white, .7);
    backdrop-filter: blur(5px);
    padding: 22px 30px 30px;
    border-radius: 0 0 8px 8px; 

    @media (min-width: 1024px) and (max-height: 650px) {
      padding: 20px 20px 20px;
    }     

    .card--simple & {
      border-top: 0;
      border-radius: 8px;
      padding: 40px 30px;
      backdrop-filter: none;
      background-color: $white;

      @media (min-width: 1024px) and (max-height: 650px) {
        padding: 20px;
      }       
    }
    
    p {
      line-height: 1.56;

      @media (min-width: 1024px) and (max-height: 650px) {
        line-height: 1.2;
        font-size: 0.9375rem;
      }
    }

  }
 
  &__actions {
    position: relative;
    margin-top: 30px;

    @media (min-width: 1024px) and (max-height: 650px) {
      margin-top: 16px;
    }
       
    &-default,
    &-deep-dive {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      transition: 1000ms ease-in-out;  

      .btn {
        @include media-breakpoint-up(md) {
          &:not(.btn--icon) {
            width: auto;
            flex-grow: 1;
          }
        }
  
        + .btn {
          margin-left: 8px;
        }
      }
    }
  }

  &--geomagical {
    .card__body {
      border-color: $geomagical;
    }
  }

  &--recommendations {
    .card__body {
      border-color: $recommendations;
    }
  }  

  &--recap {
    .card__body {
      border-color: $recap;
    }
  }    
}

.card-animation {
  transform: translateX(50px);
  opacity: 0;
  transition: 650ms ease-in-out;
  transform-origin: center top;

  .card__step,
  .card__title,
  .card__content,
  .card__actions {
    opacity: 0;
  }

  .card__step {
    transition: 450ms ease-in-out;
    transition-delay: 400ms;
    transform: translateX(15px);
  }

  .card__title {
    transition: 450ms ease-in-out;
    transition-delay: 450ms;
    transform: translateX(15px);
  }

  .card__content {
    transition: 650ms ease-in-out;
    transition-delay: 550ms;
    transform: translateY(15px);
  }

  &.animate {
    transform: translateX(0);
    opacity: 1;

    .card__step,
    .card__title,
    .card__content,
    .card__actions {
      opacity: 1;
      transform: translate(0);
    }    
  }
}

