.home-btn {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: $white;
  border-radius: 24px;
  box-shadow: 2px 4px 12px 0 rgba($black, 0.2);

  svg,
  .icon-home {
    transition: all 450ms ease-in-out;
  }

  span {
    position: absolute;
    top: 12px;
    left: 70px;
    white-space: nowrap;
    font-size: 0.875rem;
    color: $white;
  }

  &--intro .icon-home {
    fill: $blue500;
  }

  &--geomagical .icon-home {
    fill: $geomagical;
  }
  
  &--recommendations .icon-home {
    fill: $recommendations;
  }

  &--recap .icon-home {
    fill: $recap;
  }  

  @include media-breakpoint-up(md) {
    transition-duration: 700ms;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    
    &:hover {
      box-shadow: 2px 4px 12px 0 rgba($black, 0.4);

      svg {
        transform: scale(1.2) !important;
      }
    }    
  }
}
