.platforms {
  display: inline-flex;
  padding: 0;
  list-style: none;
  user-select: none;
  justify-content: center;
  
  > li {
    flex-shrink: 0;
    margin: 0 5px;
  }
  
  .platform {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 46px;
    color: $grey700;
    font-size: .875rem;
    background-color: $white;
    border-radius: 23px;

    @include media-breakpoint-down(sm) {
      position: relative;
      overflow: hidden;
      transition: 450ms ease-in-out;

      img {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translate(50%, -50%);        
      }

      span {
        position: absolute;
        top: 50%;
        left: 50px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: 500ms ease-in-out;
        font-size: 0.75rem;
        white-space: nowrap;
      }
      
      &.active {
        width: 170px;
        transition-duration: 450ms !important;
        transition-delay: 0ms !important;

        &.platform--sm {
          width: 140px;
        }
        
        // Text
        span {
          opacity: 1;
          visibility: visible;
        }
      }
      
    }
    
    @include media-breakpoint-up(md) {
      width: 170px;
      padding-right: 5px;
      padding-left: 5px;

      // Text
      span {
        margin-left: 8px;
      }
    }
  }
}
