.step-card {
  position: relative;

  &:first-child,
  &:first-child .step-card__header {
    border-radius: 22px 22px 0 0;
  }

  &:first-child .step-card__header {
    padding-top: 72px;
  }

  &__header {
    padding: 25px;
    color: $white;
  }

  &__step {
    font-size: 0.85rem;
    text-transform: uppercase;

    svg {
      width: 24px;   
      margin-right: 8px;
      
      &.icon-capture {
        position: relative;
        top: -4px;
      }       
    }

    .step-icon {
      fill-rule: evenodd;
      clip-rule: evenodd;
      fill: $white;     
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__body {
    padding: 40px 25px;
    background-color: $white;
  }

  &--geomagical {
    .step-card__header {
      background-color: $geomagical;
    }

    .tech {
      &__title {
        color: $geomagical;
      }

      &__icon {
        background-color: $geomagical;
      }
    }
  }

  &--recommendations {
    .step-card__header {
      background-color: $recommendations;
    }

    .tech {
      &__title {
        color: $recommendations;
      }

      &__icon {
        background-color: $recommendations;
      }
    }
  }
  
  &--recap {
    .step-card__header {
      background-color: $recap;
    }

    .tech {
      &__title {
        color: $recap;
      }

      &__icon {
        background-color: $recap;
      }
    }
  }  
}