.text-wrap {
  position: relative;
  width: 100%;
 
  &--half {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: left;
    
    @include media-breakpoint-down(sm) {
      align-items: center;
      text-align: center;
    }
   
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 0;
      right: 8vw;
      width: calc(60vw - 8vw);
      max-width: 542px;
      justify-content: center; 
    }

    @include media-breakpoint-up(lg) {
      right: 12vw;
      width: 50vw;
      max-width: 600px;
    }   
  }

  &--left {
    text-align: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    
    @include media-breakpoint-down(sm) {
      align-items: center;
    }
   
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 0;
      left: 8vw;
      width: calc(50vw - 8vw);
      max-width: 510px;
      justify-content: center; 
      align-items: flex-start;
      text-align: left;
    }
  }  

  &--full {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include media-breakpoint-up(md) {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &--center {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    @include media-breakpoint-up(md) {
      width: 60vw;
      max-width: 650px;
      margin: 0 auto;
    }

    @include media-breakpoint-up(lg) {
      width: 40vw;
    } 
  }
}
