.deep-dive {
  &__content {
    display: none;
  }

  &__list {
    padding: 0;
    list-style: none;

    > li {
      font-size: 1rem;

      + li {
        margin-top: 20px;
      }
    }
  }

  &__actions {
    display: none;
  }

}
