.navigation {
  display: none; 

  &.fadeOut {
    opacity: 0 !important;
    visibility: hidden !important;
    transition-delay: 0ms !important; 
    transition: 250ms ease-in-out !important;
    pointer-events: none !important;
  }  

  @include media-breakpoint-up(md) {
    display: block;
    position: absolute;
    bottom: 45px;
    left: 0;
    width: 100%;
    text-align: center;
    user-select: none;
  }

  @media (max-height: 730px) {
    bottom: 30px;
  }

  .stage-nav-container {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 100%;
  }

  .scroll {
    position: relative;
    display: block;
    font-size: 0.75rem;
    letter-spacing: 2px;
    transition: 250ms;
    margin-bottom: 10px;
    pointer-events: none;

    img {
      display: block;
      margin: 0 auto; 
      position: absolute;
      left: 0;
      right: 0;
      top: -90px; 
    }

    &--white {
      color: $white; 
    }
  }  
}

.stage-nav {
  position: relative;
  display: flex;
  justify-content: center;

  &__point {
    position: relative;
    display: block;
    width: auto;
    height: 30px;
    z-index: 2; // Higher than steps
    margin: 0;
    padding: 0;
    padding-right: 20px;
    padding-left: 20px;       
    border-radius: 15px;
    border: 1px solid #c5c5c5;    
    font-size: 0.875rem;
    color: $grey800;
    transition: 450ms ease-in-out;  
    pointer-events: none;
  }

  &__label {
    // Optical Adjustment
    position: relative;
    //top: 3px; --> button type: disabled
  }

  &__steps {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    .stage-nav__step {
      position: relative;
      flex: 1;
      width: 4vw;
      height: 1px; 
      background-color: #c5c5c5;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 0;
        height: 1px;
        content: '';
        background-color: $blue600;
        transition: 450ms ease-in-out;
      }

      &::after {
        position: absolute;
        right: 0;
        top: -3px;
        display: block;
        width: 7px;
        height: 7px;
        border-radius: 100%;
        background-color: #c5c5c5;
        transition: 450ms ease-in-out;
        content: '';
      }

      // Step 0
      &:first-child {
        display: none !important;
      }

      &:last-child::after {
        display: none;
      }
      
      &.done::before,
      &.current::before {
        width: 100%;
      }     
      
      &.done::after,
      &.current::after {
        background-color: $blue600;
      }     
    }
  }

  &--white {
    .stage-nav__point {
      background-color: $white;
    }
  }

  // Status
  &.current {      
    .stage-nav__point {
      background-color: $blue600;
      border-color: $blue600;
      box-shadow: 10px 10px 15px rgba($blue600, .3);
      pointer-events: auto;
      
      span {
        color: $white;
      }      
    }
  }

  &.done {
    .stage-nav__point {
      background-color: $blue600;
      border-color: $blue600;
      box-shadow: 10px 10px 15px rgba($blue600, .3);
      pointer-events: auto;
      
      span {
        color: $white;
      }      
    }
  }
}
