.tooltip-container {
  position: absolute;
  top: 0;
  left: 0;
}

.tooltip {
  position: absolute;
  display: none;

  &.active {
    // display: flex;
    display: block;
  }

  &.animate .tooltip__cta {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: scale(1, 1);
  }

  &__cta {
    // flex-shrink: 0;
    position: relative;
    z-index: 2;

    // Initial State
    @include initial-state;
    transform: scale(.6, .6);
    transform-origin: center center;   
    transition: 650ms ease-in-out; 
    
    .pulsar-btn {
      &__bg {
        background-color: $white;
        transition: 450ms cubic-bezier(.33, 0, 0, 1);
      }

      &--geomagical {
        .pulsar-btn__bg span {
          color: $geomagical;
          transition: 450ms cubic-bezier(.33, 0, 0, 1);
        }
      }
    }
  }

  &__box {
    position: absolute;
    top: 0;
    left: 0;
    width: 420px;
    background-color: $white;
    border-radius: 10px;
    padding: 40px 40px 40px 80px;
    user-select: none;
    opacity: 0.01;
    transition: 500ms ease-in-out;
    transform: translate(60px, -50%);

    .tooltip--right & {
      padding: 40px 80px 40px 40px;
      transform: translate(calc(-100% - 30px), -50%);
    }

    p {
      opacity: 0;
      transform: translateY(16px);
      transition: 450ms ease-in-out;
      transition-delay: 510ms;

      // .tooltip--right & { 
      //   text-align: right; 
      // }

      + p {
        margin-top: 16px;
      }
    }
  }
  
  // Open detail box
  &--detail {
    .tooltip__cta {
      .pulsar-btn { 
        &--geomagical {
          .pulsar-btn__bg {
            background-color: $geomagical;

            span {
              color: $white;
            }
          }
        }

        &--recommendations {
          .pulsar-btn__bg {
            background-color: $recommendations;

            span {
              color: $white;
            }
          }
        }        
      }
    }

    .tooltip__box {
      opacity: 1;
      transform: translate(30px, -50%);

      p {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &.tooltip--right .tooltip__box {
      transform: translate(calc(-100% + 30px), -50%);
    }
  }
}


// tooltip positions
#tooltipLine {
  top: 59%;
  left: 52%; 
}

#tooltipParallax {
  top: 53%;
  left: 69%;
}

#tooltipDepth {
  top: 36%; 
  left: 66%;
}

#tooltipSegmentation {
  top: 36%; 
  left: 66%;
}

#tooltipRealistic {
  top: 32%; 
  left: 81%;
}
