.stages {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.stage {
  @include initial-state;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &.active {
    display: block;
  }    

  &--in {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }  
  
  .step {
    @include initial-state;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    min-height: 100%;
    background-color: rgba($white, 0);
    transition: background-color 650ms;
    
    &.active {
      display: block;
    } 

    &--in {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }      

    @include media-breakpoint-up(md) {
      height: 100%;
    }    
  }
}
