.section--splash {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: $white;

  // Para section
  .logo-animated {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .privacy-mobile {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }  

  .google-cloud-animated {
    display: block;
    width: 277px;
    height: 44px;
    background-image: url('../img/logos/logo_splash.png');
    background-size: 14127px auto;
    animation: google-cloud-splash-mobile 2000ms steps(50, end) both;  
    
    @include media-breakpoint-up(md) {
      // width: 440px;
      // height: 70px;
      // background-size: 22440px auto;
      // animation: google-cloud-splash 2000ms steps(50, end) both;  
    }
  }

}

