.section--stages-mobile { 
  @include media-breakpoint-up(md) {
    display: none !important;
  }

  .home-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;

    // Initial State
    opacity: 0;
    transform: scale(.5);
    pointer-events: none;
    transition-duration: 700ms;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);    
  }

  // Animations
  &.section--in .stage--in {
    .home-btn {
      opacity: 1;
      transform: scale(1);
      pointer-events: auto;
    }  
  }  
}
