.section--stages { 
  @include media-breakpoint-down(sm) {
    display: none !important;
  }

  .home-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
        
    // Initial State
    opacity: 0;
    transform: scale(.5);
    pointer-events: none;
    transition-duration: 700ms;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);    
  }

  .navigation {
    opacity: 0;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out; 
    transition-delay: 1200ms;
    
    .scroll {
      // Initial State
      opacity: 0;
      transition-duration: 450ms;
      transition-timing-function: ease-in-out;
      pointer-events: none;

      img {
        transition-duration: 450ms;
        transform: scale(.6);
      }

      &.active {
        opacity: 1;
        
        img {
          transform: scale(1);
        }
      }

      &--only-text {
        img {
          opacity: 0;
        }
      }
    }
  }

  // Animations
  &.section--in {
    .home-btn {
      opacity: 1;
      transform: scale(1);
      pointer-events: auto;
    }

    .navigation {
      opacity: 1;

      .stage-nav {   
        &__point {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }   
  }
}
