.section--start {
  // Mobile
  /* iPhone 4 / iPhone 5 / iPhone 6, 7, 8 / iPhone 6+, 7+, 8+ / iPhone X / iPhone XS Max, XR / Samsung Galaxy S4 / Samsung Galaxy S5 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2),
  only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2),
  only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2),
  only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3),
  only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3),
  only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2),
  only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    body.mobile & {
      min-height: 640px;
    }
  }

  .text-wrap {
    @include media-breakpoint-down(sm) {
      justify-content: space-between;

      .typography,
      p {
        text-align: left;
      }

      > div {
        position: relative;
        height: calc(100% - 90px);
      }
    }

    @include media-breakpoint-down(xs) {
      p {
        font-size: 15px;
        line-height: 1.3;
      }    

      > div {
        height: calc(100% - 60px);
      }      
    }
  }


  .headline-wrap {
    position: relative;

    @include media-breakpoint-down(sm) {
      height: 100%; 

      .headline {
        display: flex;
        width: 100%;
        height: calc(100% - 50px); // 50px logo ikea
        flex-direction: column;
        justify-content: space-between;
        //align-items: center;

        &--1 .btn {
          flex-shrink: 0;
          flex-grow: 0;
        }
      }
    }
  }

  .headline {
    &--1 {
      .text-animation {
        transition-delay: 800ms;
      }

      .btn-animation {
        transition-delay: 1000ms;
      }

      .best-experience {
        text-align: center !important;
        font-size: 14px;
    
        // Initial State
        transition-duration: 350ms;
        transition-timing-function: cubic-bezier(.215,.61,.355,1);
        transition-delay: 1200ms;
        opacity: 0;    
      }      
    }

    &--2 {
      @include initial-state;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      .products-list {
        position: relative;
        bottom: 0;
        text-align: left;

        @include media-breakpoint-down(sm) {
          display: none !important; 
        }

        p {
          margin-bottom: 15px;

          // Initial State
          opacity: 0;
          transition-duration: 650ms;
          transition-timing-function: ease-in-out;
          transition-delay: 900ms;
        }

        ul.products-list__learn {
          
          align-items: flex-start;

          @include media-breakpoint-up(md) {
            justify-content: flex-start;
          }          

          >li {
            // Initial State
            opacity: 0;
            transition-duration:  650ms;
            transition-timing-function: ease-in-out;
            transform: translateY(10px);

            @for $i from 1 to 7 {
              &:nth-child(#{$i}) {
                transition-delay: calc(900ms + (#{$i} * 100ms));
              }
            }
          }
        }
      }

      @include media-breakpoint-down(sm) {
        .typography {
          display: inline-block;
        }
      }

      // Initial State
      .dragger-container {
        .dragger-area {
          .pulsar-btn.animate {
            opacity: 0;
            transform: translateX(calc(150px - 29px));
            transition: 800ms linear;
            transition-delay: 1000ms;

            @include media-breakpoint-up(md) {
              transform: translateX(calc(150px - 3.3333333337vh));
            }
          }

          .btn-holder.animate {
            opacity: 0;
            transform: translateX(calc(-150px + 29px));
            transition: 800ms linear;
            transition-delay: 1000ms;

            @include media-breakpoint-up(md) {
              transform: translateX(calc(-150px + 3.3333333337vh));
            }
          }

          &__dots {
            width: 0;
            transition: 700ms linear;
            transition-delay: 1400ms;
          }
        }

        .explore {
          // Initial State
          opacity: 0;
          transition-duration: 650ms;
          transition-timing-function: cubic-bezier(.215,.61,.355,1);
          transition-delay: 1800ms;
        }
      }
    }
  }

  .logo-ikea {
    // Initial State
    transform: translateY(150%);
    transition-duration: 450ms;
    transition-delay: $transition-in-delay;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    opacity: 0;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  .legal {
    text-align: center;
    user-select: none;
    color: $grey700;
    font-size: 0.75rem;

    // Initial State
    transition-duration: 650ms;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transition-delay: $transition-in-delay;
    opacity: 0;

    @include media-breakpoint-down(xs) {
      line-height: 1.3;
    }

    @include media-breakpoint-up(md) {
      position: absolute;
      bottom: 30px;
      left: 0;
      width: 100%;
      text-align: left;
    }
  }

  .privacy-desktop {
    position: absolute;
    bottom: 25px;
    left: 25px;
  }   

  .privacy-desktop,
  .privacy-mobile {
    // Initial State
    transition-duration: 650ms;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transition-delay: $transition-in-delay;
    opacity: 0;  
  }

  &.section--in {
    .logo-ikea {
      transform: translateY(0);
      opacity: 1;
    }

    .legal,
    .privacy-desktop,
    .privacy-mobile {
      opacity: 1;
    }

    // headline--1 in
    .headline--1 {
      .headline-line-animation .line {
        transform: translateY(0);
        opacity: 1;
      }

      .text-animation,
      .btn-animation,
      .best-experience {
        opacity: 1;
        transform: translateY(0);
      }
    }

    // Active second subheadline
    &.subheadline--2 {

      // headline--1 out
      .headline--1 {
        .headline-line-animation,
        .text-animation,
        .btn-animation,
        .best-experience {
          transition: opacity 800ms cubic-bezier(.215,.61,.355,1);
          opacity: 0;
          pointer-events: none;
        }
      }

      // headline--2 in
      .headline--2 {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

        .headline-line-animation .line {
          transform: translateY(0);
          opacity: 1;
        }

        .products-list p {
          opacity: 1;
        }

        .products-list ul > li {
          opacity: 1;
          transform: translateY(0);
        }

        .dragger-container {
          .dragger-area {
            .pulsar-btn.animate,
            .btn-holder.animate {
              transform: translateX(0);
              opacity: 1;
            }

            &__dots {
              width: calc(100% - (58px * 2));
            }
          }

          .explore {
            opacity: 1;
          }
        }
      }
    }
  }

  &.section--out {
    .logo-ikea,
    .legal,
    .privacy-mobile {
      opacity: 0;
      transition-delay: $transition-out-delay;
    }

    // headline--2 out
    &.subheadline--2 .headline--2 {
      .headline-line-animation,
      .products-list p,
      .products-list ul > li,
      .dragger-container {
        transition: opacity 1000ms cubic-bezier(.215,.61,.355,1);
        opacity: 0;
        pointer-events: none;
      }

      .headline-line-animation {
        transition-delay: 200ms
      }
    }
  }
}
