// Color system
$white: #fff;

// $grey50: #f8f9fa;
// $grey100: #f1f3f4;
// $grey200: #e8eaed;
// $grey300: #dadce0;
$grey400: #bdc1c6;
$grey500: #9aa0a6;
// $grey600: #80868b;
$grey700: #5f6368;
$grey800: #3c4043;
$grey900: #202124;

$blue500: #4285f4;
$blue600: #1a73e8;
$blue900: #174ea6;

$black: #000;
$geomagical: #3cba54;
$recommendations: #fbbc05;
$recap: #ea4335;
$border-color: #ccc;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$line-height-base: 1.5;

// Typography
$font-family-sans-serif: Google Sans, Roboto, sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif;
$font-size-base: 1rem;
$font-weight-base: $font-weight-normal;

// Links
$link-color: $blue600;
$link-hover-color: $blue900;
$link-decoration: none;
$link-hover-decoration: none;


// Spacer
$spacer: 4px !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * 1), // 4px
    2: ($spacer * 2), // 8px
    3: ($spacer * 3), // 12px
    4: ($spacer * 4), // 16px
    5: ($spacer * 5), // 20px
    6: ($spacer * 6), // 24px
    7: ($spacer * 7), // 28px
    8: ($spacer * 8), // 32px
    9: ($spacer * 9), // 36px
    10: ($spacer * 10), // 40px
    11: ($spacer * 11), // 44px
    12: ($spacer * 12)  // 48px
  ),
  $spacers
);


// Animation
$transition-speed-base: 400ms;
$transition-in-delay: 400ms;
$transition-out-delay: 100ms;
$animation-speed-base: 1200ms;

